header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
  padding: 1%;
  padding-top: 3%;
  h2 {
    display: block;
    width: 100%;
    text-align: center;
  }
  h1 {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times,
      "Times New Roman", serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
  }
  ul {
    font-family: serif;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-size: 1rem;
    font-weight: normal;
    a {
      margin: 0 0.5%;
    }
  }

  .flex-container {
    justify-content: center;
    align-items: center;
  }
}

header ::after {
  content: "";
  background: url(../../pictures/beach-runner-short-hq.jpg) center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}
#initial-login {
  width: 50%;
  font-size: 1rem;
  font-weight: normal;
  div:nth-child(2) {
    display: none;
  }

  form {
    font-size: 1rem;
    input {
      margin: 0.5%;
      width: 47%;
    }
    input[type="submit"] {
      width: 30%;
    }
  }
}

#delete-account-button,
#back-btn {
  display: none;
}
