*,
//.row,
[class^="col-"],
[class*=" col-"] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#setting-to-rotation,
#login,
#login-retire {
  display: none;
}
[class^="col-"],
[class*=" col-"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.col-12 > .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
/*.btn {
  background-color: rgb(231, 229, 227);
  border: solid 0.5px rgb(179, 102, 179);
}*/

#login {
  width: 50%;
  font-size: 1rem;
  font-weight: normal;
  p {
    margin: 1% 1% 0 2%;
  }
  form {
    font-size: 1rem;
    input {
      margin: 0.5%;
      width: 47%;
    }
    input[type="submit"] {
      width: 30%;
    }
  }
}

#rotation-page {
  background-color: rgb(233, 227, 227);
  form {
    margin: 1% 1%;
    width: fit-content;
    .labelInputContainer {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1px;
    }
    label {
      margin: 0 0.5% 0 1.5%;
      min-width: 175px;
    }
    input {
      min-width: 250px;
    }
  }
}

.rotation-grid-container {
  grid-template-columns: 40% 15% 15% 15% 15%;
}

@media only screen and (max-width: 450px) {
  #rotation-page {
    form {
      .labelInputContainer {
        font-size: 0.8rem;
      }
      label {
        min-width: 130px;
      }
      input {
        min-width: 200px;
      }
    }
  }
  #shoes-grid {
    font-size: 0.8rem;
    h3 {
      font-size: 1.3rem;
    }
    .header {
      line-height: 1;
    }
    .btn {
      font-size: 0.8rem;
    }
  }
}
